bbox: Which CRS?

Is the bbox to be given in the CRS induced by GeoJSON or the CRS given in the `crs` field?
The description says "formatted according to RFC 7946, section 5", but doesn't say what exactly that includes/excludes.

I assume it follows the CRS, so it is expressed in the same numbers as the coordinates of your geometries, but it would indeed be good to explicitly mention that (given that the GeoJSON spec assumes you always have WGS84, it also doesn't really mention that)

Consensus on call 11/7 that it should be in the same CRS as the data, since it's closest to the data. Later we can add a geographic crs if there's a use case for it.